<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="dodgerblue">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- PWA for iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="dodgerblue">
	<meta name="apple-mobile-web-app-title" content="ぴよApps">
	<link rel="apple-touch-icon" href="./contents/pwa/icon152x152.png">
	<!-- PWA for Android -->
	<link rel="manifest" href="./contents/pwa/manifest.json">
	<!-- Favicon -->
	<link rel="shortcut icon" href="./contents/pwa/favicon.ico">
	<title>ぴよApps</title>
	<!-- CSS -->
	<link rel="stylesheet" href="./contents/assets/libs/bootstrap-5.2.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="./contents/assets/libs/animate/animate.min.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="./contents/assets/css/custom.css">
</head>
<body>
	<div id="app">
		
		<!-- Header(Start) -->
		<header class="fixed-top" v-if="mode!=0">

			<!-- Navigation(Start) -->
			<nav class="navbar navbar-dark bg-primary">
				<div class="container-fluid">
					<a class="btn btn-primary btn-sm me-4 invisible" href="./">
						<i class="bi-caret-left-fill" role="img"></i>
					</a>
					<div>
						<i class="bi-github text-white m-1" role="img"></i>
						<a class="navbar-brand">ぴよApps</a>
					</div>
					<a class="btn btn-primary btn-sm ms-4 invisible" id="btn-install" href="./">
						<i class="bi-plus-square-fill" role="img"></i>
					</a>
				</div>
			</nav>
			<!-- Navigation(End) -->

		</header>
		<!-- Header(End) -->

		<!-- Main(Start) -->
		<main>

			<!-- Loading(Start) -->
			<div class="position-absolute top-50 start-50 translate-middle" v-if="mode==0">
				<div class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
			<!-- Loading(End) -->

			<!-- Home(Start) -->
			<div class="container text-center" v-if="mode==1">
				<div class="row pt-2">
					<div class="col">
						<h1 id="title-logo-1">ぴよ</h1>
						<h1 id="title-logo-2">Apps</h1>
						<small>Tips and Samples</small>
					</div>
				</div>
				<div class="row pt-4">
					<div class="d-flex justify-content-center">
						<table id="timer-controller">

							<tr>
								<td class="pb-3">
									<a class="btn btn-success btn-lg mx-2" href="./contents/tools/textcounter">
										<i class="bi-card-text" role="img"></i>
									</a><br>
									<small>文字カウ..</small>
								</td>
								<td class="pb-3">
									<a class="btn btn-success btn-lg mx-2" href="./contents/tools/eto">
										<i class="bi-person-fill" role="img"></i>
									</a><br>
									<small>干支一覧表</small>
								</td>
								<td class="pb-3">
									<a class="btn btn-secondary btn-lg mx-2 disabled" href="./">
										<i class="bi-question-square-fill" role="img"></i>
									</a><br>
									<small>BMI計算</small>
								</td>
								<td class="pb-3">
									
								</td>
							</tr>
							<tr>
								<td class="pb-3">
									<a class="btn btn-info btn-lg mx-2" href="./contents/apps/quiz">
										<i class="bi-quora" role="img"></i>
									</a><br>
									<small>クイズ</small>
								</td>
								<td class="pb-3">
									<a class="btn btn-info btn-lg mx-2" href="./contents/apps/weather">
										<i class="bi-sun-fill" role="img"></i>
									</a><br>
									<small>天気</small>
								</td>
								<td class="pb-3">
									<a class="btn btn-info btn-lg mx-2" href="./contents/apps/todo">
										<i class="bi-ui-checks" role="img"></i>
									</a><br>
									<small>TODO</small>
								</td>
								<td class="pb-3">
									<a class="btn btn-info btn-lg mx-2" href="./contents/apps/timer">
										<i class="bi-stopwatch-fill" role="img"></i>
									</a><br>
									<small>タイマー</small>
								</td>
							</tr>
							<tr>
								<td class="pb-3">
									<a class="btn btn-primary btn-lg mx-2" href="./contents/games/15puzzle">
										<i class="bi-puzzle-fill" role="img"></i>
									</a><br>
									<small>15パズル</small>
								</td>
								<td class="pb-3">
									<a class="btn btn-primary btn-lg mx-2" href="./contents/games/2048">
										<i class="bi-puzzle-fill" role="img"></i>
									</a><br>
									<small>2048</small>
								</td>
								<td class="pb-3">
									<a class="btn btn-primary btn-lg mx-2" href="./contents/games/tetris">
										<i class="bi-puzzle-fill" role="img"></i>
									</a><br>
									<small>テトリス</small>
								</td>
								<td class="pb-3">
									<a class="btn btn-primary btn-lg mx-2" href="./contents/games/minesweeper">
										<i class="bi-puzzle-fill" role="img"></i>
									</a><br>
									<small>マインス..</small>
								</td>
							</tr>
							<tr>
								<td class="pb-3">
									<a class="btn btn-primary btn-lg mx-2" href="./contents/games/flappy">
										<i class="bi-joystick" role="img"></i>
									</a><br>
									<small>Flappy</small>
								</td>
								<td class="pb-3">
									<a class="btn btn-secondary btn-lg mx-2 disabled" href="./">
										<i class="bi-joystick" role="img"></i>
									</a><br>
									<small>T-Rex</small>
								</td>
								<td class="pb-3">
									<a class="btn btn-secondary btn-lg mx-2 disabled" href="./">
										<i class="bi-puzzle-fill" role="img"></i>
									</a><br>
									<small>さめがめ</small>
								</td>
								<td class="pb-3">
									
								</td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<!-- Home(End) -->

		</main>
		<!-- Main(End) -->

		<!-- Footer(Start) -->
		<footer class="fixed-bottom text-center mb-3">
			<small><a href="mailto:sdkfz181tiger@gmail.com" target="_blank">E-mail</a></small>
			<small>｜</small>
			<small><a href="https://zenn.dev/sdkfz181tiger" target="_blank">Zenn</a></small>
			<small>｜</small>
			<small><a href="https://twitter.com/sdkfz181tiger" target="_blank">Twitter</a></small>
			<small>｜</small>
			<small><a href="./privacy/index.html">Privacy</a></small>
		</footer>
		<!-- Footer(End) -->

		<!-- Modal(Start) -->
		<div class="container mt-5 text-center">
			<div class="modal fade" id="myModal" role="dialog" data-bs-backdrop="static"
				aria-labelledby="modalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalLabel">***</h5>
							<button type="button" class="btn-close"
								data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								タイトルに戻ります
							</div>
						</div>
						<div class="modal-footer">
							<div class="container-fluid">
								<button type="button" class="btn btn-primary float-end"
									data-bs-dismiss="modal" v-on:click="clickTitle()">Submit</button>
								<button type="button" class="btn btn-secondary me-2 float-end" 
									data-bs-dismiss="modal">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal(End) -->

		<!-- Toast(Start) -->
		<div class="toast-container position-absolute top-50 start-50 translate-middle mt-2">
			<div class="toast d-none" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="toast-header">
					<img src="./contents/assets/images/logo.png" width="32" height="32" class="rounded me-2">
					<strong class="me-auto">Toast</strong>
					<small>** mins ago</small>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">***</div>
			</div>
		</div>
		<!-- Toast(End) -->

	</div>

	<!-- Adsense -->
	<!-- <script src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js" 
			data-ad-client="ca-pub-7306386193514858" async></script> -->
	<!-- JavaScript -->
	<script src="./contents/assets/libs/vue/vue.global.js"></script>
	<script src="./contents/assets/libs/bootstrap-5.2.3/js/bootstrap.min.js"></script>
	<script src="./contents/assets/libs/axios/axios.min.js"></script>
	<script src="./contents/assets/libs/howler/howler.min.js"></script>
	<script src="./contents/assets/js/utility.js"></script>
	<script src="./contents/assets/js/main.js"></script>
</body>
</html>