<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="dodgerblue">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- PWA for iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="dodgerblue">
	<meta name="apple-mobile-web-app-title" content="ぴよApps">
	<link rel="apple-touch-icon" href="./contents/pwa/icon152x152.png">
	<!-- PWA for Android -->
	<link rel="manifest" href="./contents/pwa/manifest.json">
	<!-- Favicon -->
	<link rel="shortcut icon" href="./contents/pwa/favicon.ico">
	<title>ぴよApps</title>
	<!-- CSS -->
	<link rel="stylesheet" href="./contents/assets/libs/bootstrap-5.2.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="./contents/assets/libs/animate/animate.min.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="./contents/assets/css/custom.css">
</head>
<body>
	<div id="app">
		
		<!-- Header(Start) -->
		<header class="fixed-top" v-if="mode!=0">
			<!-- Navigation(Start) -->
			<nav class="navbar navbar-dark bg-primary">
				<div class="container-fluid">
					<a class="btn btn-primary btn-sm invisible" id="btn-install" href="./">
						<i class="bi-plus-square-fill" role="img"></i>
					</a>
					<div>
						<i class="bi-github text-white m-1" role="img"></i>
						<a class="navbar-brand">ぴよApps</a>
					</div>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="offcanvas" data-bs-target="#myOffcanvas">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
			</nav>
			<!-- Navigation(End) -->

		</header>
		<!-- Header(End) -->

		<!-- Main(Start) -->
		<main>
			<!-- Loading(Start) -->
			<div class="position-absolute top-50 start-50 translate-middle" v-if="mode==0">
				<div class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
			<!-- Loading(End) -->

			<!-- Home(Start) -->
			<div class="container" v-if="mode==1">
				<div class="row pt-2 pb-4">
					<div class="col">
						<div class="card">
							<div class="card-body">
								<h6 class="card-title">
									<i class="bi-pen-fill me-1"></i>つかいかた
								</h6>
								<p class="card-text">
									<ul>
										<li>HTML/CSS/JSのサンプル集です。</li>
									</ul>
								</p>
							</div>
						</div>
					</div>
				</div>
				<strong>ツール系</strong>
				<div class="row pt-2 pb-2 text-center">
					<div class="d-flex justify-content-center">
						<table id="timer-controller">
							<tr>
								<td class="pb-1">
									<a class="btn btn-primary btn-lg mx-2" href="./contents/vuejs/omikuji">
										<i class="bi-stars" role="img"></i>
									</a><br>
									<small>おみくじ</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-primary btn-lg mx-2" href="./contents/vuejs/timer">
										<i class="bi-stopwatch-fill" role="img"></i>
									</a><br>
									<small>タイマー</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-primary btn-lg mx-2" href="./contents/vuejs/weather">
										<i class="bi-sun-fill" role="img"></i>
									</a><br>
									<small>天気</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-primary btn-lg mx-2" href="./contents/vuejs/etochecker">
										<i class="bi-person-fill" role="img"></i>
									</a><br>
									<small>干支一覧表</small>
								</td>
							</tr>
							<tr>
								<td class="pb-1">
									<a class="btn btn-primary btn-lg mx-2" href="./contents/vuejs/textcounter">
										<i class="bi-card-text" role="img"></i>
									</a><br>
									<small>文字カウント</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-primary btn-lg mx-2" href="./contents/vuejs/todo">
										<i class="bi-ui-checks" role="img"></i>
									</a><br>
									<small>TODO</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-primary btn-lg mx-2" href="./contents/vuejs/qrreader">
										<i class="bi-camera-fill" role="img"></i>
									</a><br>
									<small>QRリーダー</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-primary btn-lg mx-2" href="./contents/vuejs/qrmaker">
										<i class="bi-qr-code" role="img"></i>
									</a><br>
									<small>QRメーカー</small>
								</td>
							</tr>
							<tr>
								<td class="pb-1">
									<a class="btn btn-primary btn-lg mx-2" href="./contents/vuejs/calculator">
										<i class="bi-calculator-fill" role="img"></i>
									</a><br>
									<small>簡易電卓</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-primary btn-lg mx-2" href="./contents/vuejs/quiz">
										<i class="bi-joystick" role="img"></i>
									</a><br>
									<small>クイズ</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-light btn-lg mx-2" href="#">
										<i class="bi-map" role="img"></i>
									</a><br>
									<small>地図</small>
								</td>
								<td class="pb-1"></td>
							</tr>
						</table>
					</div>
				</div>
				<div class="row py-1">
					<imobile ad="bigbanner" id="ad_bigbanner"></imobile>
				</div>
				<strong>ゲーム系</strong>
				<div class="row pt-2 pb-2 text-center">
					<div class="d-flex justify-content-center">
						<table id="timer-controller">
							<tr>
								<td class="pb-1">
									<a class="btn btn-info btn-lg mx-2" href="./contents/p5js/flappy">
										<i class="bi-joystick" role="img"></i>
									</a><br>
									<small>Flappyの鳥</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-info btn-lg mx-2" href="./contents/p5js/15puzzle">
										<i class="bi-joystick" role="img"></i>
									</a><br>
									<small>15のパズル</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-info btn-lg mx-2" href="./contents/p5js/2048">
										<i class="bi-joystick" role="img"></i>
									</a><br>
									<small>20の48</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-info btn-lg mx-2" href="./contents/p5js/tetris">
										<i class="bi-joystick" role="img"></i>
									</a><br>
									<small>テトのリス</small>
								</td>
							</tr>
							<tr>
								<td class="pb-1">
									<a class="btn btn-info btn-lg mx-2" href="./contents/p5js/minesweeper">
										<i class="bi-joystick" role="img"></i>
									</a><br>
									<small>マインを探して</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-info btn-lg mx-2" href="./contents/p5js/tictactor">
										<i class="bi-joystick" role="img"></i>
									</a><br>
									<small>oxのゲーム</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-info btn-lg mx-2" href="./contents/p5js/reversi">
										<i class="bi-joystick" role="img"></i>
									</a><br>
									<small>リバーのシ</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-info btn-lg mx-2" href="./contents/p5js/candycrasher">
										<i class="bi-joystick" role="img"></i>
									</a><br>
									<small>キャンディ</small>
								</td>
							</tr>
							<tr>
								<td class="pb-1">
									<a class="btn btn-info btn-lg mx-2" href="./contents/p5js/tn25">
										<i class="bi-joystick" role="img"></i>
									</a><br>
									<small>タッチザ25</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-info btn-lg mx-2" href="./contents/p5js/1million">
										<i class="bi-joystick" role="img"></i>
									</a><br>
									<small>100万のエ..</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-info btn-lg mx-2" href="./contents/p5js/memory">
										<i class="bi-joystick" role="img"></i>
									</a><br>
									<small>神経が衰弱</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-info btn-lg mx-2" href="./contents/p5js/panda">
										<i class="bi-joystick" role="img"></i>
									</a><br>
									<small>パンロン</small>
								</td>
							</tr>
							<tr>
								<td class="pb-1">
									<a class="btn btn-light btn-lg mx-2" href="./contents/p5js/tc25">
										<i class="bi-github" role="img"></i>
									</a><br>
									<small>タップでチ..</small>
								</td>
								<td class="pb-1"></td>
								<td class="pb-1"></td>
								<td class="pb-1"></td>
							</tr>
						</table>
					</div>
				</div>
				<strong>その他</strong>
				<div class="row pt-2 pb-2 text-center">
					<div class="d-flex justify-content-center">
						<table id="timer-controller">
							<tr>
								<td class="pb-1">
									<a class="btn btn-success btn-lg mx-2" href="./contents/vuejs/sudokuimg">
										<i class="bi-card-image" role="img"></i>
									</a><br>
									<small>数独ソルバ</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-success btn-lg mx-2" href="./contents/p5js/enigma">
										<i class="bi-calculator-fill" role="img"></i>
									</a><br>
									<small>エニグマ</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-success btn-lg mx-2" href="./contents/vuejs/detectimg">
										<i class="bi-card-image" role="img"></i>
									</a><br>
									<small>画像検知</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-success btn-lg mx-2" href="./contents/vuejs/detectcam">
										<i class="bi-camera-fill" role="img"></i>
									</a><br>
									<small>物体検知</small>
								</td>
							</tr>
							<tr>
								<td class="pb-1">
									<a class="btn btn-light btn-lg mx-2" href="#">
										<i class="bi-github" role="img"></i>
									</a><br>
									<small>基数変換</small>
								</td>
								<td class="pb-1">
									<a class="btn btn-light btn-lg mx-2" href="#">
										<i class="bi-github" role="img"></i>
									</a><br>
									<small>論理回路</small>
								</td>
								<td class="pb-1"></td>
								<td class="pb-1"></td>
							</tr>
						</table>
					</div>
				</div>
			</div>
			<!-- Home(End) -->

		</main>
		<!-- Main(End) -->

		<!-- Footer(Start) -->
		<footer class="fixed-bottom text-center">
			<div class="mb-2">
				<small><a href="mailto:sdkfz181tiger@gmail.com" target="_blank">E-mail</a></small>
				<small>｜</small>
				<small><a href="https://zenn.dev/sdkfz181tiger" target="_blank">Zenn</a></small>
				<small>｜</small>
				<small><a href="https://twitter.com/sdkfz181tiger" target="_blank">Twitter</a></small>
				<small>｜</small>
				<small><a href="./privacy/index.html">Privacy</a></small>
			</div>
			<imobile ad="banner" id="ad_banner"></imobile>
		</footer>
		<!-- Footer(End) -->

		<!-- Offcanvas(Start) -->
		<div class="container mt-5">
			<div class="offcanvas offcanvas-end" id="myOffcanvas">
				<div class="offcanvas-header">
					<!-- <a class="btn btn-primary" href="#"
						v-on:click="showModal()">
						<i class="bi-file-earmark-plus-fill" role="img"></i>
					</a> -->
					<h5>Settings</h5>
					<button type="button" class="btn-close text-reset" 
							data-bs-dismiss="offcanvas" arial-label="Close"></button> 
				</div>
				<div class="offcanvas-body">
					<imobile ad="rectangle" id="ad_rectangle"></imobile>
					<hr/>
					<div class="form-check form-switch form-switch-lg d-flex align-items-center mt-2">
						<!--OffCanvasです-->
					</div>
				</div>
			</div>
		</div>
		<!-- Offcanvas(End) -->

		<!-- Modal(Start) -->
		<div class="container mt-5 text-center">
			<div class="modal fade" id="myModal" role="dialog" data-bs-backdrop="static"
				aria-labelledby="modalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalLabel">***</h5>
							<button type="button" class="btn-close"
								data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								タイトルに戻ります
							</div>
						</div>
						<div class="modal-footer">
							<div class="container-fluid">
								<button type="button" class="btn btn-primary float-end"
									data-bs-dismiss="modal" v-on:click="clickTitle()">Submit</button>
								<button type="button" class="btn btn-secondary me-2 float-end" 
									data-bs-dismiss="modal">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal(End) -->

		<!-- Toast(Start) -->
		<div class="toast-container position-absolute top-50 start-50 translate-middle mt-2">
			<div class="toast d-none" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="toast-header">
					<img src="./contents/assets/images/logo.png" width="32" height="32" class="rounded me-2">
					<strong class="me-auto">Toast</strong>
					<small>** mins ago</small>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">***</div>
			</div>
		</div>
		<!-- Toast(End) -->

	</div>

	<!-- JavaScript -->
	<script src="./contents/assets/libs/vue/vue.global.js"></script>
	<script src="./contents/assets/libs/bootstrap-5.2.3/js/bootstrap.min.js"></script>
	<script src="./contents/assets/libs/axios/axios.min.js"></script>
	<script src="./contents/assets/libs/howler/howler.min.js"></script>
	<script src="./contents/assets/js/utility.js"></script>
	<script src="./contents/assets/js/main.js"></script>
</body>
</html>