<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="theme-color" content="dodgerblue">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- PWA for iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="dodgerblue">
	<meta name="apple-mobile-web-app-title" content="ぴよタイマー">
	<link rel="apple-touch-icon" href="./pwa/icon152x152.png">
	<!-- PWA for Android -->
	<link rel="manifest" href="./pwa/manifest.json">
	<!-- Favicon -->
	<link rel="shortcut icon" href="./pwa/favicon.ico">
	<!-- Twitter -->
	<meta name="twitter:card" content="summary"/>
	<meta name="twitter:site" content="@Kajiru"/>
	<meta name="twitter:title" content="ぴよタイマー"/>
	<meta name="twitter:text:description" content="HTML/CSS/JSのサンプル集です。"/>
	<meta name="twitter:image" content="https://sdkfz181tiger.github.io/ExpPiyoApps/contents/assets/images/logo.png"/>
	<title>ぴよタイマー</title>
	<!-- CSS -->
	<link rel="stylesheet" href="../../assets/libs/bootstrap-5.2.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="../../assets/libs/animate/animate.min.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="./assets/css/custom.css">
</head>
<body>
	<div id="app">
		
		<!-- Header(Start) -->
		<header class="fixed-top" v-if="mode!=0">

			<!-- Navigation(Start) -->
			<nav class="navbar navbar-dark bg-primary">
				<div class="container-fluid">
					<a class="btn btn-primary btn-sm me-4" href="../../../">
						<i class="bi-caret-left-fill" role="img"></i>
					</a>
					<div>
						<i class="bi-github text-white m-1"></i>
						<a class="navbar-brand">ぴよタイマー</a>
					</div>
					<button class="navbar-toggler" type="button"
						data-bs-toggle="offcanvas" data-bs-target="#myOffcanvas">
						<span class="navbar-toggler-icon"></span>
					</button>
				</div>
			</nav>
			<!-- <nav class="nav nav-pills nav-justified bg-light">
				<a class="nav-link" href="#"
					v-on:click="changeMode(1)" v-bind:class="{active:actives[1]}">
					<i class="bi-house-fill" role="img"></i>
				</a>
				<a class="nav-link" href="#"
					v-on:click="changeMode(2)" v-bind:class="{active:actives[2]}">
					<i class="bi-google" role="img"></i>
				</a>
				<a class="nav-link" href="#"
					v-on:click="changeMode(3)" v-bind:class="{active:actives[3]}">
					<i class="bi-apple" role="img"></i>
				</a>
				<a class="nav-link" href="#"
					v-on:click="changeMode(4)" v-bind:class="{active:actives[4]}">
					<i class="bi-gear-fill" role="img"></i>
				</a>
			</nav> -->
			<!-- Navigation(End) -->

		</header>
		<!-- Header(End) -->

		<!-- Main(Start) -->
		<main>

			<!-- Loading(Start) -->
			<div class="position-absolute top-50 start-50 translate-middle" v-if="mode==0">
				<div class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
			<!-- Loading(End) -->

			<!-- Timer(Start) -->
			<div class="container text-center" v-if="mode==1">
				<div class="row pt-4">
					<div class="col">
						<h1 id="timer-logo-1">ぴよ</h1>
						<h1 id="timer-logo-2">タイマ-</h1>
					</div>
				</div>
				<div class="row pt-4">
					<div class="col">
						<div id="timer-hms">{{ getDisplayHMS }}</div>
						<small id="timer-millis">{{ getDisplayMillis }}</small>
					</div>
				</div>
				<div class="row pt-2">
					<div class="d-flex justify-content-center">
						<table>
							<tr>
								<td>
									<button class="btn btn-secondary btn-lg"
										v-on:click="clickHours(1)">
										<i class="bi-caret-up-fill m-3" role="img"></i>
									</button>
								</td>
								<td>
									<button class="btn btn-secondary btn-lg"
										v-on:click="clickMinutes(1)">
										<i class="bi-caret-up-fill m-3" role="img"></i>
									</button>
								</td>
								<td>
									<button class="btn btn-secondary btn-lg"
										v-on:click="clickSeconds(1)">
										<i class="bi-caret-up-fill m-3" role="img"></i>
									</button>
								</td>
							</tr>
							<tr>
								<td>
									<button class="btn btn-secondary btn-lg"
										v-on:click="clickHours(-1)">
										<i class="bi-caret-down-fill m-3" role="img"></i>
									</button>
								</td>
								<td>
									<button class="btn btn-secondary btn-lg"
										v-on:click="clickMinutes(-1)">
										<i class="bi-caret-down-fill m-3" role="img"></i>
									</button>
								</td>
								<td>
									<button class="btn btn-secondary btn-lg"
										v-on:click="clickSeconds(-1)">
										<i class="bi-caret-down-fill m-3" role="img"></i>
									</button>
								</td>
							</tr>
						</table>
					</div>
				</div>
				<div class="row pt-1">
					<imobile ad="bigbanner" id="ad_bigbanner"></imobile>
				</div>
				<div class="row pt-1 g-1">
					<div class="col"></div>
					<div class="col-5 col-sm-5 col-md-3 col-lg-2 d-grid">
						<button class="btn btn-primary btn-lg my-2"
							v-on:click="clickStart">
							<i class="bi-play-fill btn-icon" role="img"></i>
							<div>Start</div>
						</button>
					</div>
					<div class="col-5 col-sm-5 col-md-3 col-lg-2 d-grid">
						<button class="btn btn-primary btn-lg my-2"
							v-on:click="clickStop">
							<i class="bi-pause-fill btn-icon" role="img"></i>
							<div>Stop</div>
						</button>
					</div>
					<div class="col"></div>
				</div>
			</div>
			<!-- Timer(End) -->

		</main>
		<!-- Main(End) -->

		<!-- Footer(Start) -->
		<footer class="fixed-bottom text-end">
			<!-- <a class="btn btn-primary rounded-circle shadow m-3" href="#"
				v-if="mode!=0" v-on:click="showModal()">
				<i class="bi-clock-history" role="img"></i>
			</a> -->
			<imobile ad="banner" id="ad_banner"></imobile>
		</footer>
		<!-- Footer(End) -->

		<!-- Offcanvas(Start) -->
		<div class="container mt-5">
			<div class="offcanvas offcanvas-end" id="myOffcanvas">
				<div class="offcanvas-header">
					<!-- <a class="btn btn-primary" href="#"
						v-on:click="showModal()">
						<i class="bi-file-earmark-plus-fill" role="img"></i>
					</a> -->
					<h5>Settings</h5>
					<button type="button" class="btn-close text-reset" 
							data-bs-dismiss="offcanvas" arial-label="Close"></button> 
				</div>
				<div class="offcanvas-body">
					<imobile ad="rectangle" id="ad_rectangle"></imobile>
					<hr/>
					<div class="form-check form-switch form-switch-lg d-flex align-items-center mt-4">
						<input type="checkbox" class="form-check-input mx-2" 
							id="switchSound" v-on:click="switchSound()">
						<label class="form-check-label" for="switchSound">
							サウンドOn/Off
						</label>
					</div>
				</div>
			</div>
		</div>
		<!-- Offcanvas(End) -->

		<!-- Modal(Start) -->
		<div class="container mt-5 text-center">
			<div class="modal fade" id="myModal" role="dialog" data-bs-backdrop="static"
				aria-labelledby="modalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalLabel">***</h5>
							<button type="button" class="btn-close"
								data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								Hello, Modal!!
							</div>
						</div>
						<div class="modal-footer">
							<div class="container-fluid">
								<button type="button" class="btn btn-primary float-end"
									data-bs-dismiss="modal" v-on:click="clickTitle()">Submit</button>
								<button type="button" class="btn btn-secondary me-2 float-end" 
									data-bs-dismiss="modal">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Modal(End) -->

		<!-- Toast(Start) -->
		<div class="toast-container position-absolute top-50 start-50 translate-middle mt-2">
			<div class="toast d-none" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="toast-header">
					<img src="./assets/images/logo.png" width="32" height="32" class="rounded me-2">
					<strong class="me-auto">Toast</strong>
					<small>** mins ago</small>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">***</div>
			</div>
		</div>
		<!-- Toast(End) -->

	</div>
	
	<!-- JavaScript -->
	<script src="../../assets/libs/vue/vue.global.js"></script>
	<script src="../../assets/libs/bootstrap-5.2.3/js/bootstrap.min.js"></script>
	<script src="../../assets/libs/axios/axios.min.js"></script>
	<script src="../../assets/libs/howler/howler.min.js"></script>
	<script src="../../assets/libs/pushjs/push.min.js"></script>
	<script src="./assets/js/utility.js"></script>
	<script src="./assets/js/main.js"></script>
</body>
</html>