/* CSS */

@font-face{
	font-family: "Nicokaku-v2";
	src: url("../fonts/nicokaku_v2.ttf");
}

html, body{
	margin: 0px; padding: 0px;
	font-family: "Nicokaku-v2"; font-size: 1.0rem;
	overflow: hidden;
}