<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8"/>
	<meta name="theme-color" content="dodgerblue"/>
	<meta name="viewport" content="width=device-width">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- PWA for iOS -->
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="dodgerblue">
	<meta name="apple-mobile-web-app-title" content="ぴよTodo">
	<link rel="apple-touch-icon" href="./pwa/icon152x152.png">
	<!-- PWA for Android -->
	<link rel="manifest" href="./pwa/manifest.json">
	<!-- Favicon -->
	<link rel="shortcut icon" href="./pwa/favicon.ico">
	<title>ぴよTodo</title>
	<!-- CSS -->
	<link rel="stylesheet" href="./libs/bootstrap-5.2.3/css/bootstrap.min.css">
	<link rel="stylesheet" href="./libs/pretty-checkbox/pretty-checkbox.min.css">
	<link rel="stylesheet" href="//cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
	<link rel="stylesheet" href="./css/custom.css">
</head>
<body>
	<div id="app">
		
		<!-- Header(Start) -->
		<header class="fixed-top" v-if="mode!=0">

			<!-- Navigation(Start) -->
			<nav class="navbar navbar-dark bg-primary">
				<div class="container-fluid">
					<button class="navbar-toggler" type="button"
						data-bs-toggle="offcanvas" data-bs-target="#myOffcanvas">
						<span class="navbar-toggler-icon"></span>
					</button>
					<div>
						<i class="bi-github text-white m-1" role="img"></i>
						<a class="navbar-brand">ぴよTodo</a>
					</div>
				</div>
			</nav>
			<!-- <nav class="nav nav-pills nav-justified bg-light">
				<a class="nav-link" href="#"
					v-on:click="changeMode(1)" v-bind:class="{active:actives[1]}">
					<i class="bi-house-fill" role="img"></i>
				</a>
				<a class="nav-link" href="#"
					v-on:click="changeMode(2)" v-bind:class="{active:actives[2]}">
					<i class="bi-google" role="img"></i>
				</a>
				<a class="nav-link" href="#"
					v-on:click="changeMode(3)" v-bind:class="{active:actives[3]}">
					<i class="bi-apple" role="img"></i>
				</a>
				<a class="nav-link" href="#"
					v-on:click="changeMode(4)" v-bind:class="{active:actives[4]}">
					<i class="bi-gear-fill" role="img"></i>
				</a>
			</nav> -->
			<!-- Navigation(End) -->

			<!-- Tags(Start) -->
			<div class="d-flex flex-nowrap overflow-auto 
				bg-primary text-white" id="tags">
				<button type="button" 
					v-bind:class="['btn', 'text-nowrap', activeTag==tag?'btn-light':'btn-primary']"
					v-for="tag of tags" v-on:click="changeTag(tag)">{{ tag.name }}</button>
			</div>
			<!-- Tags(End) -->

		</header>
		<!-- Header(End) -->

		<!-- Main(Start) -->
		<main>

			<!-- Loading(Start) -->
			<div class="position-absolute top-50 start-50 translate-middle" v-if="mode==0">
				<div class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Loading...</span>
				</div>
			</div>
			<!-- Loading(End) -->

			<!-- Home(Start) -->
			<div class="container" v-if="mode==1">
				<div id="todos" v-for="todo of todos">
					<div class="d-flex mb-2">
						<div class="d-flex align-items-center">
							<input class="form-check-input m-1 p-2" type="checkbox" value=""
								v-bind:id="todo.id" v-bind:checked="todo.checked"
								v-on:click="toggleTodo(todo.id)">
						</div>
						<div class="flex-grow-1 text-truncate">
							<label class="form-check-label w-100 py-3" v-bind:for="todo.id">
								{{ todo.msg }}
							</label>
						</div>
						<div class="ms-auto d-flex align-items-center">
							<button type="button" class="btn p-2" 
								v-on:click="showModalEditTodo(todo)">
								<i class="bi-file-earmark-text" role="img"></i>
							</button>
						</div>
					</div>
				</div>
			</div>
			<!-- Home(End) -->

			<!-- Google(Start) -->
			<div class="container mt-3 text-center" v-if="mode==2">
				<div class="row py-lg-5">
					<div class="col-lg-6 col-md-8 mx-auto">
						<h1 class="fw-light">Google</h1>
						<p class="lead text-muted">
							Good morning!!
						</p>
					</div>
				</div>
			</div>
			<!-- Google(End) -->

			<!-- Apple(Start) -->
			<div class="container mt-3 text-center" v-if="mode==3">
				<div class="row py-lg-5">
					<div class="col-lg-6 col-md-8 mx-auto">
						<h1 class="fw-light">Apple</h1>
						<p class="lead text-muted">
							Good morning!!
						</p>
					</div>
				</div>
			</div>
			<!-- Apple(End) -->

			<!-- Settings(Start) -->
			<div class="container mt-3 text-center" v-if="mode==4">
				<div class="row py-lg-5">
					<div class="col-lg-6 col-md-8 mx-auto">
						<h1 class="fw-light">Settings</h1>
						<p class="lead text-muted">
							Good morning!!
						</p>
					</div>
				</div>
			</div>
			<!-- Settings(End) -->

		</main>
		<!-- Main(End) -->

		<!-- Footer(Start) -->
		<footer class="fixed-bottom text-end">
			<a class="btn btn-primary rounded-circle shadow m-3" href="#"
				v-if="mode!=0" v-on:click="showModalCreateTodo()">
				<i class="bi-plus-lg" role="img"></i>
			</a>
			<div id="im-44312d36535c4279801e55f8fd54c60f"></div>
		</footer>
		<!-- Footer(End) -->

		<!-- Offcanvas(Start) -->
		<div class="container mt-5">
			<div class="offcanvas offcanvas-start" id="myOffcanvas">
				<div class="offcanvas-header">
					<a class="btn btn-primary" href="#"
						v-on:click="showModalCreateTag()">
						<i class="bi-file-earmark-plus-fill" role="img"></i>
					</a>
					<h5>Tag</h5>
					<button type="button" class="btn-close text-reset" 
							data-bs-dismiss="offcanvas" arial-label="Close"></button> 
				</div>
				<div class="offcanvas-body">
					<div id="todos" v-for="tag of tags">
						<div class="d-flex mb-2">
							<div class="flex-grow-1 text-truncate">
								<label class="form-check-label w-100 p-3">
									{{ tag.name }}
								</label>
							</div>
							<div class="ms-auto d-flex align-items-center">
								<button type="button" class="btn px-2" 
									v-on:click="showModalEditTag(tag)">
									<i class="bi-file-earmark-text" role="img"></i>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- Offcanvas(End) -->

		<!-- ModalTag(Start) -->
		<div class="container mt-5 text-center">
			<div class="modal fade" id="myModalTag" role="dialog" data-bs-backdrop="static"
				aria-labelledby="modalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalLabel">***</h5>
							<button type="button" class="btn-close"
								data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								<input type="text" class="form-control" id="formInputTag" 
									placeholder="Tag" v-model="tagName">
							</div>
						</div>
						<div class="modal-footer">
							<div class="container-fluid" v-if="tagId==null">
								<button type="button" class="btn btn-primary float-end"
									data-bs-dismiss="modal" v-on:click="createTag()">Create</button>
								<button type="button" class="btn btn-secondary me-2 float-end" 
									data-bs-dismiss="modal">Cancel</button>
							</div>
							<div class="container-fluid" v-else>
								<button type="button" class="btn btn-danger float-start"
									data-bs-dismiss="modal" v-on:click="deleteTag(tagId)">
									<i class="bi-trash" role="img"></i>
								</button>
								<button type="button" class="btn btn-info float-end"
									data-bs-dismiss="modal" v-on:click="updateTag(tagId)">Update</button>
								<button type="button" class="btn btn-secondary me-2 float-end" 
									data-bs-dismiss="modal">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ModalTag(End) -->

		<!-- ModalTodo(Start) -->
		<div class="container mt-5 text-center">
			<div class="modal fade" id="myModalTodo" role="dialog" data-bs-backdrop="static"
				aria-labelledby="modalLabel" aria-hidden="true">
				<div class="modal-dialog modal-dialog-centered" role="document">
					<div class="modal-content">
						<div class="modal-header">
							<h5 class="modal-title" id="modalLabel">***</h5>
							<button type="button" class="btn-close"
								data-bs-dismiss="modal" aria-label="Close"></button>
						</div>
						<div class="modal-body">
							<div class="container-fluid">
								<input type="text" class="form-control" id="formInputTodo" 
									placeholder="Todo" v-model="todoMsg">
							</div>
						</div>
						<div class="modal-footer">
							<div class="container-fluid" v-if="todoId==null">
								<button type="button" class="btn btn-primary float-end"
									data-bs-dismiss="modal" v-on:click="createTodo()">Create</button>
								<button type="button" class="btn btn-secondary me-2 float-end" 
									data-bs-dismiss="modal">Cancel</button>
							</div>
							<div class="container-fluid" v-else>
								<button type="button" class="btn btn-danger float-start"
									data-bs-dismiss="modal" v-on:click="deleteTodo(todoId)">
									<i class="bi-trash" role="img"></i>
								</button>
								<button type="button" class="btn btn-info float-end"
									data-bs-dismiss="modal" v-on:click="updateTodo(todoId)">Update</button>
								<button type="button" class="btn btn-secondary me-2 float-end" 
									data-bs-dismiss="modal">Cancel</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- ModalTodo(End) -->

		<!-- Toast(Start) -->
		<div class="toast-container position-absolute top-50 start-50 translate-middle mt-2">
			<div class="toast d-none" role="alert" aria-live="assertive" aria-atomic="true">
				<div class="toast-header">
					<img src="./images/logo.png" width="32" height="32" class="rounded me-2">
					<strong class="me-auto">Toast</strong>
					<small>** mins ago</small>
					<button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
				</div>
				<div class="toast-body">***</div>
			</div>
		</div>
		<!-- Toast(End) -->

	</div>

	<script>
		// Banner_468x60
		(window.adsbyimobile=window.adsbyimobile||[]).push({
			pid:26719, mid:550231, asid:1792594, type:"banner", display:"inline",
			elementid:"im-44312d36535c4279801e55f8fd54c60f"});
	</script>
	<script src="//imp-adedge.i-mobile.co.jp/script/v1/spot.js?20220104" async></script>

	<!-- JavaScript -->
	<script src="./libs/vue/vue.global.js"></script>
	<script src="./libs/bootstrap-5.2.3/js/bootstrap.min.js"></script>
	<script src="./libs/axios/axios.min.js"></script>
	<script src="./js/utility.js"></script>
	<script src="./js/main.js"></script>
</body>
</html>