/* CSS */

@font-face {
	font-family: "NotoSans";
	src: url("../../../../assets/fonts/NotoSansJP-Medium.otf") format("opentype");
}

@font-face{
	font-family: "Nicokaku-v2";
	src: url("../../../../assets/fonts/nicokaku_v2.ttf");
}

html, body{
	margin: 0px; padding: 0px;
	font-family: "NotoSans"; font-size: 1.0rem;
	/*user-select:none;*/
}

header{
	font-family: "Nicokaku-v2";
}

body{
	display: flex;
	align-items: center;
	justify-content: center;
}

header i{
	font-size: 1.2rem;
}

canvas{
	margin: 55px 0px 0px 0px !important;
}